
.codetbl {
    background: rgb(250, 223, 176);
    text-align: left;
    width: 100%;
    border: 1px;
    cellpadding: 2px;
    cellspacing: 2px;
}

.prj-name {
    font-weight: bold;
    width: 25%;
}

.prj-desc {
    width: 55%;
}

.prj-lang {

}

.prj-links {

}

.prj-link-text {

}