
table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
 }
 
 .codetbl {
    background: rgb(250, 223, 176);
    text-align: left;
    width: 70%;
}

.prj-name {
    font-weight: bold;
    width: 25%;
}

.prj-desc {
}

.prj-lang {

}

.prj-links {

}

.prj-link-text {

}